

.trending-chart-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 560px;
    margin: 15px 0px 0px 25px;
    border-radius: 15px;
    padding: 10px;
    background-color: #243447;
}

.trending-box {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #243447;
}

.trending-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #243447;
}

h6 {
    color: grey;
}

h4 {
    margin-top: 5px;
}