.bio-container {
    display: flex;
    flex-direction: column;
    border-width: 0px 1px 0px 1px;
    border-style: solid;
    border-color: #818181;
    padding-left: 15px;
    color: white;
}

.bio-extras-container {
    display: flex;
}

a:visited {
    color: #a6a6a6;
}

.bio-extra {
    display: flex;
    gap: 5px;
    margin-right: 15px;
    margin-top: 10px;
}

.bio-extra p {
    color: #a6a6a6;
}

h4 {
    margin-top: 10px;
    font-weight: lighter;
}

h5 {
    font-weight: lighter;
}

a {
    text-decoration: none;
}

#linkSVG {
    transform: rotate(-45deg);
}