.left-menu-container {
    background-color: black;
    width: 31.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 5%;
    padding-top: 10px;
    height: 100%;
    color: inherit;
    gap: 25px;
}

.menu-container {
    display: flex;
    gap: 25px;
    align-items: center;
}

@media (max-width: 987px) {

    #explore-text, #settings-text{
        display: none;
    }

    .left-menu-container {
        background-color: black;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 5px;
        padding-top: 10px;
        height: 100%;
        color: white;
    }

}


/* iPhone styling */
@media (max-width: 414px) {

    #explore-text, #settings-text, .left-menu-container {
        display: none;
    }

}