.left-menu-container {
    background-color: black;
    width: 24%;
    display: flex;
    justify-content: center;
    border: 1px solid yellow;
    flex-direction: column;
    padding-left: 5%;
    padding-top: 10px;
    height: 100%;
}