.left-menu-container {
    background-color: black;
    width: 24%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 5%;
    padding-top: 10px;
    height: 100%;
}

.menu-container {
    display: flex;
    gap: 25px;
    align-items: center;
}