* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: white;
  font-family: 'Arial';
  background-color: black;
}

.app-container {
  display: flex;
  width: 100%;
  border: 1px solid red;
  height: 100%;
}